@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background: #eee;
}

.app-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #666;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.app-header-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
}

.app-header-nav-logo {
  font-weight: bold;
}

.app-header-link {
  padding: 1rem;
  color: #666;
  text-decoration: none;
}

.app-header-link.active {
  font-weight: bold;
  color: #000;
}

.app-header-nav-links {
  display: flex;
  padding: 0;
  margin: 0;
}

.app-header-nav-link {
  list-style: none;
  margin: 0;
}

.page {
  padding: 2rem 0;
}

